@if (messageBox.visible) {
<app-message-box [duration]="messageBox.duration" [message]="messageBox.message" [type]="messageBox.type"
    (closed)="messageBox.visible = false" />
}


<div class="w-screen h-screen flex justify-center items-center">
    <form (ngSubmit)="handleSubmit()" class="flex flex-col justify-center items-center">
        <div>
            <p>
                Display Name
            </p>
            <input type="text" name="displayName" required minlength="4" maxlength="25" [(ngModel)]="user.displayName">
        </div>

        <div>
            <p>
                Email
            </p>
            <input type="email" name="email" required minlength="5" maxlength="50" [(ngModel)]="user.email">
        </div>

        <div>
            <p>
                Password
            </p>
            <input type="password" name="password" required minlength="8" [(ngModel)]="user.password">
        </div>

        <div>
            <button type="submit">
                Sign up
            </button>
        </div>

        <div>
            <p>
                Already have an account?
                <a [routerLink]="['/login']">
                    Sign in
                </a>
            </p>
        </div>
    </form>

</div>